<html>
    <head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" type = "text/css" href = "/home.css">
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    </head>
    
    <body>
        
        
        <div id = "habbit-view-container">
            <form action = "/create/habbit/" method = "POST" id = "create-habbit-form">
                <input type = "text" name = "habbitName" placeholder="Your Habbit" required><br>
                <select type = "text" name = "schedule" placeholder="schedule" required>
                    <option>Daily</option>
                    <option>Weekend</option>
                </select>
                <input type = "hidden" name = "status" value = "true"><br>
                <input type = "date" name = "date" value = "true"><br>
                <input type="submit" value = "ADD">
              </form>
              
            <nav id = "habbit-nav">
             <div>
                <button id = "menu-btn"><i class="material-icons">menu</i></button>
                <div id = "nav-item">
                 <button id = "add-btn">ADD</button>
                 <button><a href = "/week/view/">VIEW</a></button>
                </div>
             </div>
             <div>
                 Habbit view
             </div>
             <div>
                <button class = "sort-btn"><i class="material-icons">sort</i></button>
             </div>
            </nav>
            <ul id = "habbit-view-content">
              <% for(i of habbits) {%>
                <li class = "habbits">
                   <div class="habbit-name">
                       <%= i.Habbit %>
                   </div>  
                   <div>
                       <%= i.Schedule %>
                   </div>
                   <div>
                      <% if(i.Detail[0].Status){%>
                        <i class="material-icons">check_box_outline_blank</i>
                      <%}else{%>
                        <i class="material-icons" style="font-size:24px;color:green">check_box</i>
                      <%}%>
                   </div>
                </li>
                <%}%>
            </ul>
        </div>
        <script src="/home.js"></script>
    </body>
    
</html>